<!DOCTYPE html>
<html>
  <head>
    <title>Khanh-Quynh Flask-MongoDB</title>
    <link
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <div class="container">
      <header>
        <p> 
            <a href="{{ url_for('home')}}">Home</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          <a href="https://github.com/nyu-database-design/flask-mongodb-example" target="_blank">
            by Khanh Quynh &#8618;
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
