{% extends 'base.html' %} 

{% block container %}
  <h1> <a class="arrow" href="{{ url_for('read')}}"> &#8617; </a> Incoming New Thought</h1>
  <p>Breathes in <br>Words out</p>
  <form method="POST" action="{{ url_for('create_post') }}">

    <p>Name<span class="req">*</span>: <input class="new-thought-form" type="text" id="name" name="name" required/><br /></p>
    <p>First run<span class="req">*</span>: <input class="new-thought-form" type="year" id="first_run" name="first_run" placeholder="YYYY" required/><br /></p>
    <p>Thought<span class="req">*</span>: 
      <textarea class="new-thought-form" type="text" id="thought" name="thought" required></textarea>
    </p>
    <p>
      <input type="submit" name="post-btn" value="Post" class="post-button"/>
    </p>

  </form>

{% endblock %}
