{% extends 'base.html' %}

{% block container %}
<div class="blog-container">
    <h1>ALL THOUGHTS</h1>
    <p> 
        Friendly reminder to be nice and not change  or delete others' post, even though on this utopia website, you have the freedom to do anything. 
        <br><br>Other than that, new thought <a href="{{ url_for('create')}}">this way &#8618;</a></li>
    </p>
    {% for doc in docs %}
    <div>
        <p class="post">
            <span style="font-size: 15.5px;">{{doc.name.upper()}}|</span>{{doc.created_at.strftime("%B")[:3]}} {{doc.created_at.strftime("%d %Y")}} <!--{{doc.created_at.strftime("%H:%m")}}-->
        <br><span style="color: #ffb2b2; font-size: 14px;">Running since </span>
            <span style="color: #ff8585; font-size: 14px;">{{doc.first_run}}</span>
        <br><a href="{{ url_for('edit', mongoid=doc._id) }}">Edit</a> 
        <span style="color: #ff8585">•</span> <a href="{{ url_for('delete', mongoid=doc._id) }}">Delete</a>
        <br>{{ doc.thought }}<br>
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}s